.wrapp{
    display: flex;
    padding: 4%;
}


.wrapp-buttons{
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    flex-direction: column;
    width: 11%;
    max-height: 171px;
    border-right: 3px #eeeeee solid;
    border-bottom: 3px #eeeeee solid;
    border-radius: 0px 0px 30px 0px;
}

.button-custon{
    width: 100%;

    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border: 0px;
    padding-top: 7%;
    padding-bottom: 7%;

    font-weight: bold
}

.container-button{
    padding-bottom: 27%;
}

.title-lisTodo{
    font-size: 35px;
    font-weight: bold;
}

.wrapptitle-list{
    padding-bottom: 2%;
}

/*MEDIA QUERY TABLET*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .wrapp {
        display: flex;
        padding: 4%;
        flex-direction: column;
    }
    
    .wrapp-buttons{
        display: flex;
    justify-content: space-around;
    }

    .responsive-buttons{
        width: unset !important;
        flex-direction: unset !important;
        border-right: 0px #eeeeee solid !important;
        border-bottom: 0px #eeeeee solid !important;
        border-radius: unset !important;
    }
    
    .container-button{
        width: 16%;
        padding-bottom: 3%;
    }
    
  }


  @media (min-width: 481px) and (max-width: 767px) {
  
    .wrapp {
        display: flex;
        padding: 4%;
        flex-direction: column;
    }
    
    .wrapp-buttons{
        display: flex;
    justify-content: space-around;
    }
    
    .responsive-buttons{
        width: unset !important;
        flex-direction: unset !important;
        border-right: 0px #eeeeee solid !important;
        border-bottom: 0px #eeeeee solid !important;
        border-radius: unset !important;
    }

    .container-button{
        width: 16%;
        padding-bottom: 3%;
    }
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
  
        .wrapp {
        display: flex;
        padding: 4%;
        flex-direction: column;
    }
    
    .wrapp-buttons{
        display: flex;
    justify-content: space-around;
    }

    .responsive-buttons{
        width: unset !important;
        flex-direction: unset !important;
        border-right: 0px #eeeeee solid !important;
        border-bottom: 0px #eeeeee solid !important;
        border-radius: unset !important;
    }
    
    .container-button{
        width: 16%;
        padding-bottom: 3%;
    }
    
  }

  @media (min-width: 481px) and (max-width: 767px) {
  
    .wrapp {
        display: flex;
        padding: 4%;
        flex-direction: column;
    }
    
    .wrapp-buttons{
        display: flex;
    justify-content: space-around;
    }

    .responsive-buttons{
        width: unset !important;
        flex-direction: unset !important;
        border-right: 0px #eeeeee solid !important;
        border-bottom: 0px #eeeeee solid !important;
        border-radius: unset !important;
    }
    
    .container-button{
        width: 16%;
        padding-bottom: 3%;
    }
    
  }

  @media (min-width: 320px) and (max-width: 480px) {
  
    .wrapp {
        display: flex;
        padding: 4%;
        flex-direction: column;
    }
    
    .wrapp-buttons{
        display: flex;
    justify-content: space-around;
    }

    .responsive-buttons{
        width: unset !important;
        flex-direction: unset !important;
        border-right: 0px #eeeeee solid !important;
        border-bottom: 0px #eeeeee solid !important;
        border-radius: unset !important;
    }
    
    .container-button{
        width: 16%;
        padding-bottom: 3%;
    }

  }
