.card-todo{
    display: grid;
    margin: 1%;
}

.header-todo{
    padding-top: 2%;
    border-radius: 16px 16px 0px 0px;
    background: #a5e3ff;
    max-width: 205px;
    height: 135px;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.footer-todo{
    padding-top: 4%;
    padding-bottom: 6%;
    height: 29px;
    justify-content: center;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.title-todo{
    padding-right: 10%;
    padding-left: 10%;
}

.description{
    text-align: justify;
}

.description-todo{
    padding-right: 10%;
    padding-left: 10%;
}

h2{
    text-align: left;
    margin-bottom: -3%; 
}

.wrapp-footer{
    display: flex;
    justify-content: center;  
}

.status{
    width: 77%;
}

.italic-status{
    font-style: italic;
}

.checkStyle{
    width: 33%;
}



